

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blocipedia</h1>
                        <hr class="small">
                        <span class="subheading">A Collaboration Tool</span>
                    </br>
                    <div class="button">
                        <a class="btn btn-info" <%= link_to "Sign In", new_user_session_path%></a>
                        <a class="btn btn-info" <%= link_to "Sign Up", new_user_registration_path%></a>
                        </div>
            </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container">
        <div class="row">
            <h1> Recent Wikis</h1>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <%= render partial: 'wikis/wiki', collection: @tenwikis %>
         
                 <!-- Pager -->
                 <h4> All Wikis
            <a class="glyphicon glyphicon-arrow-right" <%= link_to "", wikis_path%></a></h4>
               
            </div>
        </div>
    </div>
    <hr>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/ercunningham828/blocipedia">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Emily Cunningham 2015</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
