
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                             <%= link_to (markdown_to_html wiki.title), wiki %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%=markdown_to_html wiki.body%>
                        </h3>
                    </a>
                    <p class="post-meta"> Submitted <%= time_ago_in_words(wiki.created_at) %> ago by <a><%= wiki.user.name %><a/> </p>
                            
                </div>
                <hr>
                