%body
  .post-preview
    %a{:href => "post.html"}
      %h2.post-title
        = link_to (markdown_to_html wiki.title), wiki
      %h3.post-subtitle
        = markdown_to_html wiki.body
    %p.post-meta
      Submitted #{time_ago_in_words(wiki.created_at)} ago || Collaborators:
    = wiki.users.map {|user| user.name}.join(', ')
  %hr/